<h1>Stock</h1>

<% @stocks.each do |stock| %>
  <li><a href="/stocks/<%= stock.id %>"><%= stock.quantity %></a>
  <a href="/stocks/<%= stock.id %>"><%= stock.id %></a>
  <a href="/stocks/<%= stock.id %>"><%= stock.product.name %></a>
  <a href="/stocks/<%= stock.id %>/edit">Edit</a>
  <a href="/stocks/<%= stock.id %>" data-confirm='Are you sure?' rel='nofollow' data-method="delete">Destroy</a></li>
<% end %>

<a href="/stocks/new"><h4>Add product quantity to stock</h4></a>