<h1>Products</h1>

<% @products.each do |product| %>
  <li><a href="/products/<%= product.id %>"><%= product.name %></a>
  <a href="/products/<%= product.id %>"><%= product.image %></a>
  <a href="/products/<%= product.id %>"><%= product.price %></a>
  <a href="/products/<%= product.id %>/edit">Edit</a>
  <a href="/products/<%= product.id %>" data-confirm='Are you sure?' rel='nofollow' data-method="delete">Destroy</a></li>
<% end %>

<a href='/products/new'><h4>Add new Product</h4></a>